body{
    background-color: #f4f4f4;
}

#wrapper{
	width : 1200px;
	height: 700px;
	margin : auto;
	margin-top: 50px;
	padding : 25px;
	background-color : white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

p.pTitle{
	text-indent : 30px;
	font-size : 36px;
	font-weight : bold;
	color : #242424;
	padding: 0;
	margin: 20px 0px 40px 10px;
}

#month {
	font-size : 24px;
	font-weight : bold;
	margin-left: 3px;
	color : #242424;
}

input.bMonth{
	border: none;
	background-color: white;
	font-size : 20px;
	cursor: pointer;
	color : #242424;
}

div.monthDiv{
	margin-left: 35px;
	border:none;
}

img{
	float : left;
	margin : 50px;
}

p.tTitle{
	font-weight: bold;
	font-size: 30px;
	margin-top: -35px;
	margin-left : 685px;
}
table{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid lightgray;
    border-radius: 10px;
	width : 500px;
	margin : -10px 0px 25px 680px; 
}
td:first-child{
	width :150px;
}

td.chkbox{
	text-align: center; 
}

label{
	display : inline-block;
	width: 100px;
	position : relative;
	font-weight: bold;
	font-size : 18px;
	padding : 20px 10px;
	text-indent : 10px;

}

label::after{
	position: absolute;
	right: 0px;
	content: "|";
}

.incomeButton, .outcomeButton{
	font-size: 18px;
	font-weight: bold;
	width : 42%;
	height: 35px;
	margin-right: 18px;
	margin-top: 3px;
	background-color : #EEEEEE;
	line-height : 35px;
	
}
.incomeButton:hover{
	background-color:skyblue;
}
.outcomeButton:hover{
	background-color:pink;
}

.saveButton{
	width: 75%;
	height : 50px;
	margin: 15px;
	margin-right: 5px;
	line-height: 45px;
	font-size: 24px;
	font-weight :bold;
	background-color : lightgreen;
}
.trashButton{
	width: 15%;
	height: 50px;
	margin : 15px;
	margin-left: 0px;
	line-height: 45px;
	font-size: 24px;
	font-weight: bold;
	text-indent: 2px;
	background-color: #BBBBBB;
}
.incomeButton, .outcomeButton, .saveButton, .trashButton{
	border : none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
	cursor:pointer;
}

.incomeButton:hover, .outcomeButton:hover, .saveButton:hover, .trashButton:hover{
	text-shadow: -2px -2px white, 2px -2px white, -2px 2px white, 2px 2px white, -2px 0px white, 2px 0px white, 0px -2px white, 0px 2px white;
	box-shadow: 3px 3px 3px lightgray;
	transition : 0.3s ease;
}

input[type="text"]{
	width : 90%;
	height : 30px;
	font-size: 16px;
}

input[type="date"]{
	width : 90%;
	height : 30px;
	font-size: 16px;
	font-family : sans-serif;
}



div.aMenu{
	float: right;
	margin-right : 25px;
	margin-top: 18px;
}

a{
	text-decoration: none;
	cursor: pointer;
	color : gray;
	margin-left: 5px;
}
a:hover{
	color: #242424;
	transition : 0.3s ease;
}

th.mDate{
	color : gray;
	font-weight : bold;
	font-size : 18px;
	text-indent: 15px;
	text-align : left;
	padding: 15px 10px 0px 10px;
}
td.mItem{
	font-weight : bold;
	font-size : 20px;
	text-indent : 10px;
	padding-left : 12px;
	padding-bottom: 15px;
}
td.mOutcome, td.mIncome{
	font-weight : bold;
	font-size : 20px;
	text-align: right;
	padding-right : 25px;
	padding-bottom: 15px;
	padding-top :0;
}
td.mOutcome{
	color : #FF3333;
}
td.mIncome{
	color : #3333FF;
}

hr{
	width: 95%;
	margin-top : 15px;
}

.buttonWrapper {
    margin-left: 680px; 
    margin-top: 20px;
    width: 500px;
    display: flex;       
    justify-content: space-between; 
}

.saveButton {
    width: 40%;         
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.trashButton {
    width: 15%;        
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #BBBBBB;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

